<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">KJShop_Server</a>
        <button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</div>

<div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
    <nav class="flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="/LBlazor/BindProp">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Bind Prop
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="/LBlazor/demoproduct">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Visning af produkter
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="/LBlazor/parentComponent">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Forældre_barn relation
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="/LBlazor/LRouting">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Lær Routing
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="/LBlazor/blazorJs">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Blazor JS
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="/LBlazor/lifecycle">
                <span class="oi oi-list-rich" aria-hidden="true"></span> LifeCycle
            </NavLink>
        </div>
    </nav>
</div>

@code {
    private bool collapseNavMenu = true;

    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
